@font-face {
  font-family: "iconfont"; /* Project id 1358664 */
  src: url('iconfont.woff2?t=1718782990201') format('woff2'),
       url('iconfont.woff?t=1718782990201') format('woff'),
       url('iconfont.ttf?t=1718782990201') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e61a";
}

.icon-fangda:before {
  content: "\e63d";
}

.icon-pinglun:before {
  content: "\e615";
}

.icon-dianzan:before {
  content: "\e60d";
}

.icon-yidianzan:before {
  content: "\e60e";
}

.icon-yishoucang:before {
  content: "\e654";
}

.icon-shoucang:before {
  content: "\e655";
}

.icon-bianji:before {
  content: "\e637";
}

.icon-fenxiang:before {
  content: "\e613";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-qiandao:before {
  content: "\e60a";
}

.icon-zhinengkefu:before {
  content: "\e696";
}

.icon-yonghufankui:before {
  content: "\e868";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-xiaoxitongzhi:before {
  content: "\e60b";
}

.icon-querenmima:before {
  content: "\e617";
}

.icon-nicheng:before {
  content: "\e64f";
}

.icon-mima:before {
  content: "\e65c";
}

.icon-gouwuche1:before {
  content: "\e71b";
}

.icon-circle:before {
  content: "\e60c";
}

.icon-xuanzhong:before {
  content: "\e616";
}

.icon-dianpu:before {
  content: "\e61b";
}

.icon-left:before {
  content: "\e624";
}

.icon-daipingjia:before {
  content: "\e601";
}

.icon-daishouhuo:before {
  content: "\e671";
}

.icon-daifukuan:before {
  content: "\e7d8";
}

.icon-tuihuanshouhou:before {
  content: "\e69d";
}

.icon-shezhi:before {
  content: "\e605";
}

.icon-lajitong:before {
  content: "\e609";
}

.icon-ziyuan:before {
  content: "\e61c";
}

.icon-icon:before {
  content: "\e652";
}

.icon-iconfontdui:before {
  content: "\e612";
}

.icon-fanhui:before {
  content: "\e604";
}

.icon-gengduo1:before {
  content: "\e678";
}

.icon-shijian:before {
  content: "\e673";
}

.icon-kong:before {
  content: "\e641";
}

.icon-qingkong:before {
  content: "\e68e";
}

.icon-sousuo-copy:before {
  content: "\e602";
}

.icon-scancode:before {
  content: "\e632";
}

.icon-shouye:before {
  content: "\e750";
}

.icon-shangpin:before {
  content: "\e614";
}

