// layout 相关
// layout 底部的高度
$layout-bottom-height: 60px;
// layout 头部的高度
$layout-header-height: 64px;

// 全局的 字体颜色和 颜色
$font-color: #1890ff;


// 全局颜色
$base-color: #ff2e24;
// 全局的背景色
$base-bgc: #f8f8f8;
// 全局浅显的文字颜色
$font-light: #a8a8a8;

/* 渐变色 */
$base-linear: linear-gradient(38deg, #ff2e24 0%, #ed9b9b 100%);

/* 最大的层级 */
$max-index: 99999;

