// 设置一行多出来的文字以省略符号显示
.line-ellipsis-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
// 设置两行多出来的文字以省略符号显示
.line-ellipsis-two {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}
.mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}