$BASE_WIDTH: 100px;
.user-avatar-upload {
  .ant-upload-list-picture-card {
    .ant-upload-list-picture-card-container {
      display: none;
    }
    .ant-upload-select-picture-card {
      width: $BASE_WIDTH;
      height: $BASE_WIDTH;
      border: none;
    }
    
  }
  .ant-upload {
    border-radius: 50% !important;
    width: $BASE_WIDTH !important;
    height: $BASE_WIDTH !important;
  }
  .user-avatar-img {
    > img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .change-avatar-span {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: $BASE_WIDTH;
      height: $BASE_WIDTH;
      border-radius: 50%;
      font-size: 0px;
      &:hover {
        background: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        text-align: center;
        line-height: $BASE_WIDTH;
        color: #fff;
      }
    }
  }
}
